/* Tamanho padrão para tablets*/

@media only screen and (max-width: 768px) {
    .header-black ul, #menu {
        display: none !important;
    }
}

/* Tamanho para smartphones*/

@media only screen and (max-width: 480px) {
    .header-black ul, #menu {
        display: none !important;
    }
   #logotipo {
       left: 30% ;
   }
}